@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/* shared styles */
body{
  margin:0px;
}

/* header styles */
header {
  max-width: 1240px;
  margin: 40px auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 2.2rem;
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
}
.nav-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}

.banner {
  display: flex;
  gap: 7rem;
  align-items: center;
}
.banner-dan {
  background-image: url("images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 30px;
}
.banner-bam-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 3.1rem;
  font-weight: 700;
  margin: 0px;
}
.banner-bam-description {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
}
.banner-bam-button {
  border-radius: 41px;
  background: #e02c6d;
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.sponsors {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-bottom: 120px;
}

/* main styles */
main {
  max-width: 1020px;
  margin: 0px auto;
}
.collection-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.cards {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 476px;
  flex-shrink: 0;
  padding: 10px;
}
.card-title {
  color: var(--Text-Gray-900, #18191f);
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 10px;
}
.card-price {
  color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
  font-family: Inter;
  font-size: 2rem;
  font-weight: 400;
  margin: 7px;
  margin-bottom: 0px;
}
.ratings {
  margin-left: 7px;
  display: flex;
  margin-bottom: 2px;
}
.ratings p {
  color: var(--gray-80, #5e6366);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.1px;
  margin-left: 8px;
}
.des {
  color: var(--Gray-50, #787885);
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 7px;
  margin-top: 0px;
}
.see-more {
  display: flex;
  align-items: center;
  justify-content: right;
}
.see-title {
  color: rgba(224, 44, 109, 0.87);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}

.featured-products {
  display: flex;
  gap: 6rem;
  margin: 100px auto;
  align-items: center;
}

.product-title {
  color: #0a0826;
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 700;
}
.product-description {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
}
.product-button {
  background: #e02c6d;
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  border:none;
}
/* footer styles */
footer{
  background: #0A0826;
  width:100%;
  text-align: center;
  padding:50px 0px;
}
.footer-title{
  color: #FFF;
font-family: Poppins;
font-size: 2rem;
font-weight: 700;
margin:0px;
}
.copyright,.footer-des{
  color: var(--Text-Gray-300, #D9DBE1);
font-family: Manrope;
font-size: .8rem;
font-weight: 700;
}
.social-media
{
  justify-content: center;
  display: flex;
  gap:10px;
  margin-bottom: 10px;
}